@model IEnumerable<Farmacia_Paolo.Models.Producto>

@{
    ViewData["Title"] = "Gestión de Productos";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Producto</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.NombreProveedor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductoID" class="btn btn-sm btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductoID" class="btn btn-sm btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductoID" class="btn btn-sm btn-danger">Eliminar</a> |

                    <a asp-controller="Lotes" asp-action="Index" asp-route-productoId="@item.ProductoID" class="btn btn-sm btn-success">Ver Lotes</a>
                </td>
            </tr>
        }
    </tbody>
</table>